body {
    background-color: #F8E8A6;
}

h1 {
    text-align: center;
    font-weight: bold
}

p {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
}

.footer-links {
    margin: 0 10px;
    color: green;
}

.croissant-photo {
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

.footer-links:visited {
    color: green;
}